
<odoo>
    <menuitem id="menu_real_estate_root" name="Real Estate Management" />
    <menuitem id="menu_real_estate_property" name="Properties" parent="menu_real_estate_root" action="action_real_estate_property" />
    <menuitem id="menu_partner" name="Owners" parent="menu_real_estate_root" action="action_partner" />
    <menuitem id="menu_client" name="Clients" parent="menu_real_estate_root" action="action_res_partner_client"/> 
    <menuitem id="menu_tenant" name="Tenants" parent="menu_real_estate_root" action="action_res_partner_tenant"/>
    <menuitem id="menu_sales" name="Sales" parent="menu_real_estate_root" action="action_sale_order_inherit"/>  

</odoo> 
